apiVersion: v1
kind: DeploymentConfig
metadata:
  name: {{ .APP_NAME }}
  namespace: {{ .NAMESPACE }}
  labels:
    name: {{ .APP_NAME }}-{{ .LIFECYCLE }}
spec:
  template:
    metadata:
      labels:
        name: {{ .APP_NAME }}
        availability_zone: {{ .AVAIL_ZONE }}
      annotations:
        app_version: {{ .IMAGE_TAG }}
    spec:
      containers:
        - name: {{ .APP_NAME }}
          image: {{ .IMAGE_NAME }}:{{ .IMAGE_TAG }}
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          # ports:
          # add ports here; see example below
          #   - name: http
          #     containerPort: 8080
          #     protocol: TCP
          # livenessProbe:
          # add probe to check if container is running as expected here; see example below
          #   httpGet:
          #     path: /v1/health
          #     port: http
          #     scheme: HTTP
          #   initialDelaySeconds: 15
          #   timeoutSeconds: 1
          #   periodSeconds: 20
          #   successThreshold: 1
          #   failureThreshold: 3
          # readinessProbe:
          # add probe to check if container is ready to start accepting requests here; see example below
          #   httpGet:
          #     path: /v1/health
          #     port: http
          #     scheme: HTTP
          #   initialDelaySeconds: 5
          #   timeoutSeconds: 1
          #   periodSeconds: 10
          #   successThreshold: 1
          #   failureThreshold: 3
          imagePullPolicy: Always
          # define CPU and Memory resources available for each instance of this container
          # resources:
# {{- if eq .LIFECYCLE "prd" }}
#             requests:
#               cpu: 100m
#             limits:
#               memory: 128Mi
# {{- else }}
#             requests:
#               cpu: 50m
#             limits:
#               memory: 64Mi
# {{- end }}
      restartPolicy: Always
      dnsPolicy: ClusterFirst
  replicas: {{ .REPLICAS }}
  selector:
    name: {{ .APP_NAME }}
  triggers:
    - type: ConfigChange
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 120
