apiVersion: v1
kind: Secret
metadata:
  name: {{ .APP_NAME }}
  namespace: {{ .NAMESPACE }}
  annotations:
    lifecycle: {{ .LIFECYCLE }}
data:
  # add key-value pairs where value is base64 encoded
  # name: value
